<button routerLink="/dashboard/meal-plans" mat-raised-button color="warn"><</button>


<h1>Desayuno</h1>


<div class="information">
    <img class = "image" src="https://www.clara.es/medio/2022/05/11/desayunos-sin-pan_daff90d9_1280x853.jpg" alt="desayuno">
    <mat-card class="information-card">
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam quia
            iure ipsam numquam ex aliquid sequi hic ipsum commodi, nobis consequatur
            deserunt, tempora temporibus magnam mollitia voluptates? Similique,
            omnis est?
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card class="information-card">
        <mat-card-title>Hora de consumo</mat-card-title>
        <p>  7:30am  </p>
        <mat-card-title>Calorias</mat-card-title>
        <mat-card-content>
          <p>  125  </p>
        </mat-card-content>
      </mat-card>
</div>