<h1>
    <strong>Mi perfil</strong>
</h1>
    <mat-card class="profile-card">
        <mat-card-title-group>
          <mat-card-title>Hub CJ</mat-card-title>
          <mat-card-subtitle>
            aaaa@gmail.com
            <br>
            99999999999999
        </mat-card-subtitle>
          <img mat-card-md-image src="https://thispersondoesnotexist.com/image" >
        </mat-card-title-group>
        <mat-card-content>
        </mat-card-content>
      </mat-card>
      <h1>
        <strong>Mi Entrenador</strong>
    </h1>
      <mat-card class="profile-card">
        <mat-card-title-group>
          <mat-card-title>Percy Pereyra</mat-card-title>
          <mat-card-subtitle>
            percy@gmail.com
            <br>
            987654321
        </mat-card-subtitle>
          <img mat-card-md-image src="https://thispersondoesnotexist.com/image" >
        </mat-card-title-group>
        <mat-card-content>
        </mat-card-content>
      </mat-card>