<h1>Entrenamiento Squads con Peso</h1>

<div class="information">
    <iframe
    width="50%"
    height="315"
    src="https://www.youtube.com/embed/bEv6CCg2BC8"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  
<dir  class="information-card">
    <mat-card>
        <mat-card-title>Indicaciones</mat-card-title>
        <mat-card-content>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam adipisci
            iusto velit eveniet ad. Eos sed dolorum expedita. Numquam animi soluta
            blanditiis labore, delectus eveniet doloribus quam cumque minima beatae?
          </p>
        </mat-card-content>
      </mat-card>
      
      <mat-card>
          <mat-card-title>Consejos</mat-card-title>
          <mat-card-content>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam adipisci
              iusto velit eveniet ad. Eos sed dolorum expedita. Numquam animi soluta
              blanditiis labore, delectus eveniet doloribus quam cumque minima beatae?
            </p>
          </mat-card-content>
        </mat-card>

</dir>

</div>

<br>
<h2>Duracion 5 minutos</h2>
<h2>Calorias quemadas 90</h2>

<button routerLink="/dashboard/training-routine" mat-raised-button color="warn">Finalizar entrenamiento</button>
