img {
    height: 200px;
    width: 100%;
}

.container{
    margin-top: 7rem;
    display: flex;
}

.card{
    margin: 0 5% 0 5%;
    text-align: center;
    width: 40%;
}

button{
    border-radius: 12px;
}
.card:hover{
    background-color: khaki;
}